<h1>User registration</h1>
<div id="form">
  <h2>Signup</h2>
  <form action="/signup" method="POST">
    <label>
      Username
      <input type="text" name="username" placeholder="ironhacker" required  required pattern="banana"/>
    </label>

    <label>
      Password
      <input type="password" name="password" placeholder="********" required/>
    </label>

    <button type="submit">Create account</button>
    <% if(typeof errorMessage !== 'undefined'){ %>
        <p class="error"><%= errorMessage %></p>
        <% } %>
  </form>
</div>


